In [1]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [2]:
# Dependencies
import numpy as np
import pandas as pd
import datetime as dt
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from flask import Flask, jsonify

In [3]:
engine = create_engine("sqlite:///hawaii.sqlite")
# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)
Base.classes.keys()

['measurement', 'station']

In [4]:
# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [5]:
# Create our session (link) from Python to the DB
session = Session(engine)

In [6]:
# from sqlalchemy import extract

# df = pd.DataFrame(columns=['month','temperature'])
# print()
# prev_year = dt.date(2017, 8, 23)
# # reflect the tables
# prev_year = dt.date(2017, 8, 23) - dt.timedelta(days=365)
# results = []

## D1: Determine the Summary Statistics for June

In [7]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

In [8]:
# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June.
# prev_year = dt.date(2017, 8, 23) - dt.timedelta(days=365)
results = session.query(Measurement.tobs).\
      filter(Measurement.station == 'USC00519281').\
      filter(Measurement.date >= 6)
temps = list(np.ravel(results))

In [9]:
#  3. Convert the June temperatures to a list.
june_temp = session.query(Measurement.date, Measurement.tobs).filter(Measurement.date >= 6)
june_temp = session.query(Measurement.date, Measurement.tobs).filter(Measurement.date >= 6)
print(results)

# june_temps = session.query(Measurement).filter(extract('month', Measurement.date) ==6)
# print(results)
# june_temps_list = [measurement.tobs for temp in june_temps]

SELECT measurement.tobs AS measurement_tobs
FROM measurement
WHERE measurement.station = ? AND measurement.date >= ?

In [10]:
results = session.query(Measurement.date, Measurement.tobs).filter(Measurement.date >= 6)
# session.query(Measurement.date, Measurement.prcp).filter(Measurement.date >= prev_year).all()
# june_temps_list = [measurement.tobs for temp in june_temps]
june_temps = session.query(Measurement).filter(extract('month', Measurement.date) ==6)

In [11]:
# 4. Create a DataFrame from the list of temperatures for the month of June.
# df = pd.DataFrame(columns=['june','temps'])
june_temps_list = [temp.tobs for temp in june_temps]

In [12]:
# df.set_index(df['june'], inplace=True)
# print(df)
# june_df = pd.Dataframe(june_temps_list, columns=['June Temps'])
# june_df.head
june_df = pd.DataFrame(june_temps_list,columns=['june Temps'])
june_df.head()

   june Temps
0        78.0
1        76.0
2        78.0
3        76.0
4        77.0

In [13]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
june_df.describe()

        june Temps
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

## D2: Determine the Summary Statistics for December

In [14]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
dec_temps = session.query(Measurement).filter(extract('month', Measurement.date) ==12)

In [15]:
# 7. Convert the December temperatures to a list.
dec_temps_list = [temp.tobs for temp in dec_temps]

In [16]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
dec_df = pd.DataFrame(dec_temps_list,columns=['December Temps'])
dec_df.head()

   December Temps
0            76.0
1            74.0
2            74.0
3            64.0
4            64.0

In [17]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
dec_df.describe()

       December Temps
count     1517.000000
mean        71.041529
std          3.745920
min         56.000000
25%         69.000000
50%         71.000000
75%         74.000000
max         83.000000